
@import "less/grid";
@import "less/forms";
@import "less/functions";

@import "less/defaults";


@font1: 'Lucida Grande', 'Lucida Sans Unicode', arial, sans-serif;

@primary: #3e4959; // Dark blue; used for headers
@secondary: #000;
@tertiary: #036; // Dark blue for links
@accent: #f9c349; // Yellow, used for notifications
@accent2: #E3E9F2; // Light background.. should be used for widgets or headers.
@accent3: #9DB8E0; // Slight darker, used for some buttons.





#page {
  .row();
  min-height: 1000px;
  header#branding {
    .clearfix();
    
    hgroup {
      .grid_12();
    }
    
    nav#access {
      .grid_12();
    }
  }
  
  #main {
    .clearfix();
    
    #primary {
      .grid_8();
    }
    
    #secondary{
      .grid_4();
    }
  }
}


body.sticky-nav {
  
  nav#access {
    
    &.stuck {
      width: auto !important;
      margin: 0px !important;
      position: fixed;
      top: 0px;
      left: 0px;
      right: 0px;
    }
    
  }
  
  &.admin-bar {
    nav#access {
      
      &.stuck {
        width: auto !important;
        margin: 0px !important;
        position: fixed;
        top: 28px;
        left: 0px;
        right: 0px;
      }
      
    }
  }
}

@import "less/media";