#page {
  .row();
  min-height: 1000px;
  background-color: #fff;
  
  header#branding {
    .clearfix();
    
    hgroup {
      .grid_12();
    }
    
    #nav-placeholder {
      .grid_12();
      
      #nav-wrap {
        .clearfix();

        nav#access {
          .clearfix();
          width: 940px;
          margin: 0px auto !important;
          float: none;
        }
      }
      
    }
  }
  
  #main {
    .clearfix();
    margin-top: 8px;
    margin-bottom: 8px;
    
    #primary {
      .grid_8();
    }
    
    #secondary{
      .grid_4();
    }
  }
}